.popup__save {
    margin: 18px auto 37px 36px;
    width: 358px;
    height: 50px;
    background: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid black;
    border-radius: 2px;
}

.popup__save:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (max-width: 590px) {
    .popup__save {
        margin: 15px auto 25px 22px;
        width: 238px;
        font-size: 14px;
        line-height: 17px;
    }
}