.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 37px;

}

@media screen and (max-width: 390px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin: 0 0 31px 27px;
    }
}
