.header {
    margin: 45px auto 36.25px;
    max-width: 880px;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 800px) {
    .header {
        max-width: 600px;
    }
}

@media screen and (max-width: 390px) {
    .header {
        margin-top: 28px;
        margin-left: 0;
        margin-bottom: 38.25px;
        max-width: 320px;
        width: 100%;
    }
}