.profile__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    max-width: 336px;
    overflow: hidden;
    white-space: nowrap;
}

@media screen and (max-width: 700px) {
    .profile__subtitle {
        margin-left: 22px;
        max-width: 200px;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
}