.profile__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 390px) {
    .profile__subtitle {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
    }
}